{{ if .Site.Params.adsense.bottom.client }}
  <!-- Adsense advertisement for article bottom -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="{{.Site.Params.adsense.bottom.client}}"
       data-ad-slot="{{.Site.Params.adsense.bottom.slot}}"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
{{ end }}

{{ if .Site.Params.adsense.article_auto.client }}
  <!-- Adsense advertisement for article inner content -->
  <ins class="adsbygoogle"
       style="display:block; text-align:center;"
       data-ad-layout="in-article"
       data-ad-format="fluid"
       data-ad-client="{{ .Site.Params.adsense.article_auto.client }}"
       data-ad-slot="{{ .Site.Params.adsense.article_auto.slot }}"></ins>
{{ end }}
